.Smart-phone {
    background-color: #121212;
    padding: 1.5rem;
    height: 25rem;
    width: 18rem;
    box-sizing: border-box;
    min-height: 15rem;
    min-width: 10rem;
}

.SP-image img {
    height: 100%;
    width: 100%;
}

.SP-image {
    box-sizing: border-box;
    padding-right: 1rem;
}

.Sp-wish {
    position: absolute;
    border: none;
    background-color: transparent;

}

.Smart-Phones {
    overflow-x: scroll;
}

@media (max-width: 768px) {
    .Smart-phone {
        height: 18rem;
        width: 14rem;
    }
}